@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@200;300;400;500;600;700;800;900");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Rajdhani";
  font-weight: 600;
  text-decoration: none;
}

body {
  width: 75vw;
  margin: auto;
}

a {
  &:hover {
    color: #0070ff;
  }
  transition: all 0.1s;
}

.active {
  color: red;
  &:hover {
    color: red;
  }
}

hr {
  outline: none;
  border-style: solid;
  color: rgba(0, 0, 0, 0.7);
}
